.autocomplete{
  /* background-color: rgba(0,0,0,.2); */
  /* background-clip: padding-box; */
  border: solid transparent;
  /* border-width: 1px 1px 1px 6px; */
  min-height: 28px;
  /* padding: 100px 0 0; */
  -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
  /* background-clip: padding-box; */
  /* border: solid transparent; */
  /* border-width: 0 0 0 4px; */
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radiuis: 8px;
  border-radius: 8px !important;
}
